body {
  font-family: "Arial", sans-serif;
}

header {
  text-align: center;
  background-color: #222;
  color: white;
  padding: 20px;
}

.ticket-options {
  padding: 20px;
}

.ticket {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
}

.ticket h2 {
  color: #ff6347;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px;
}
